
body{
    margin:0;
    width: 100%;
}

/*header*/


.bigheader{
    display: flex;
    width: 100%;
    height: 75px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background: white;
    border-bottom: 1px solid #ddd9d9;  
    z-index: 5;
}

.smallheader{
    display: none;
}

.logo{
    min-width: 250px;
    padding-left: 45px;
    animation-name: animLogo;
    animation-duration: 3s;
}

nav ul{
    display: flex;
    align-items: center;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    padding-right: 25px;
}

nav ul li {
    list-style: none;
    font-size: 14px;  
    padding: 12px;
    margin-right: 6px;
}

nav > ul > li > a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    text-decoration: none;
    color: white;
}

nav > p:hover:not {
    color: white;
    background: black;
    border-radius: 5px;
}


nav > ul > li:hover:not(#search) {
    color: white;
    background: black;
    border-radius: 5px;
}

 nav .menu ul {
  display: none;
    position: absolute;
    padding: 10px;
    width: 170px;
    margin-left: -12px;
    background: black;

}

 nav .menu ul li {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
 }

 nav .menu ul li a {
    display: block;
    width: 160px;
   margin-left: -13px;
   padding-left: 8px;
    height: 27px;
    line-height: 27px;
    text-decoration: none;
    color: white;
 }

nav li:hover ul{
    display: block;
}

nav .menu li:not(:last-child) {
    border-bottom:1px solid grey;
 }

nav .menu ul li a:hover{
    background: white;
    color: black;
}

/*lead article*/

.banniere{
    background: url(../images/banniere.jpeg);
    background-size: cover;
    height: 590px;
    width: 100%;
    margin-top:0;
        animation-name: animLogo;
    animation-duration: 2s;
}

.banniere h2 {
    color: white;
    font-size: 36px;
    font-weight: 600;
    line-height: 1.2;
    width: 400px;
    padding-right: 20px;
    position: relative;
    top: 370px;
    left: 55px;
    font-family: 'Open Sans', sans-serif;
            animation-name: animLogo;
    animation-duration: 2s;
    
}

.banniere p {
    color: white;
    font-size: 14px;
    width: 400px;
    padding-right: 20px;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    top: 350px;
    left: 55px;
            animation-name: animLogo;
    animation-duration: 2s;
}

.banniere > p > a {
    text-decoration: none;
    color: white;
            animation-name: animLogo;
    animation-duration: 2s;
}

.banniere > p > a:hover {
    text-decoration: underline;
}

/*articles gallery*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;

}

.articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 95%;
}

article {
    width: 31%; 
    height: 50%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

article img{
    width: 100%;
}
 
.legende {
    width: 100%;
    height: 70%;
    margin-bottom: 45px;
}

.date {
     font-family: 'Open Sans', sans-serif;
     font-size: 14px;
     font-weight: 500;
     padding-top: 0;
     color: grey;
     margin-top: -10px;
}

.date a {
    text-decoration: none;
    color: grey;
}

.date a:hover {
    text-decoration: underline;
}

/*editor's picks section*/

.editor {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(249, 249, 249);
    border-top: 1px solid rgb(204, 204, 204);
    border-bottom: 1px solid rgb(204, 204, 204);
    margin-bottom: 60px;
    height: 50%;
    width: 100%; 

}

.editor h1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
}

.editorspicks{
    display: flex;
    justify-content: space-around;
    width:  95%;
}

.editorspicks article {
    width: 46%;
    margin: 0;
}

.editorspicks article a img{
    width: 100%;
}

/*banner ad*/

aside {
    text-align: center;
    margin-bottom: 30px;
    width: 100%;
}

aside img {
    width: 93%;
}

/*load more button*/

.loadmore {
    font-family: 'Open Sans', sans-serif;
    background: #222;
    color: white;
    text-align: center;
    width: 35%;
    height: 50px;
    border-radius: 4px;
    margin: auto;
    line-height: 50px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.loadmore a{
    text-decoration: none;
    color: white;
}

/*newsletter form*/

.newsletter {
    text-align: center;
    background: rgb(249, 249, 249);
    height: 360px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    font-weight: 600;
    margin: auto; 
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    text-align: center;
}

input {
    background: white;
    border: 1px solid rgb(174, 174, 174);
    border-radius: 4px;
    height: 40px;
    width: 250px;
    font-family: 'Open Sans', sans-serif;
    padding-left: 10px;
    margin: 7px;
}

button { 
    height: 45px;
    width: 120px;
    color: white;
    background: #222;
    border: 1px solid #222;
    border-radius: 5px;
    font-size: 16px;
}

/*social networks section*/

.reseaux {
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*footer*/

footer {
    background: #222;
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 13.5px;
    height: 395px;
    display: flex;
    align-items: center;
}

footer ul {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

footer ul li {
    list-style: none;
    margin-right: 20px;
    justify-content: center;
}

footer img{
    padding-top: 10px;
    padding-bottom: 20px;
    width: 70px;
}


footer a {
    text-decoration: none;
    color: white;
    justify-content: center;
}

footer a:hover {
    text-decoration: underline;
}

.mentionslegales{
    width: 100%;
}

.apropos{
    margin-top: 30px;
    margin-bottom: 30px;
}
/*responsive design*/

@media screen and (max-width: 1024px){

    header{
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    background: white;
    border-bottom: 1px solid #ddd9d9;  
    z-index: 5;
}

.smallheader{
    display: flex;
    width: 100%;
    height: 48px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background: white;
    border-bottom: 1px solid #ddd9d9;  
    z-index: 5;
    padding-left: 30px;
}

.bigheader{
    display: none;
}


.logo img{
    height: 19px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;

}

.articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 95%;
}

article {
    width: 47%; 
    height: 20%;
}


footer ul {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
footer {
    background: #222;
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 13.5px;
    height: 500px;
    display: flex;
    align-items: center;
}

footer ul {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
}

@media screen and (max-width: 550px){
.newsletter {
    font-size: 1.1em;
}

article {
    width: 95%; 
    height: 10%;
}
}

@Keyframes animLogo {
    0% {
opacity: 0;
    }
    100% {
opacity: 100%;
    }
}



