body{
    margin:0;
    width: 100%;
}

/*header*/


header{
    display: flex;
    width: 100%;
    height: 75px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background: white;
    border-bottom: 1px solid #ddd9d9;  
    z-index: 5;
}

#menu{
    display: none;
}

#logo{
    min-width: 250px;
    padding-left: 45px;
}

nav ul{
    display: flex;
    align-items: center;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding-right: 25px;

}

nav ul li {
    list-style: none;
    padding-right: 26px;
     font-size: 0.9em;
     width: 
}

nav a {
    text-decoration: none;
    color: black;
}

/*article en une*/

.banniere{
    background: url(../images/banniere.jpeg);
    background-size: cover;
    height: 590px;
    width: 100%;
    margin-top:0;
}

.banniere p {
    color: white;
    font-size: 36px;
    font-weight: 600;
    line-height: 1.2;
    width: 400px;
    padding-right: 20px;
    position: relative;
    top: 370px;
    left: 55px;
    font-family: 'Open Sans', sans-serif;
}

/*galerie d'articles*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;

}

.articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 95%;
}

figure {
    width: 31%; 
    height: 50%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
}

figure img{
    width: 100%;
}
 
figcaption {
    width: 100%;
    height: 70%;
    margin-bottom: 45px;
}

.date {
     font-family: 'Open Sans', sans-serif;
     font-size: 14px;
     font-weight: 500;
     padding-top: 0;
     color: grey;
     margin-top: -10px;
}

/*rubrique editor's picks*/

.editor {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(249, 249, 249);
    border-top: 1px solid rgb(204, 204, 204);
    border-bottom: 1px solid rgb(204, 204, 204);
    margin-bottom: 60px;
    height: 50%;
    width: 100%; 

}

.editor h1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
}

.editorspicks{
    display: flex;
    justify-content: space-around;
    width:  95%;
}

.editorspicks figure {
    width: 46%;
    margin: 0;
}

.editorspicks figure img{
    width: 100%;
}

/*bandeau publicitaire*/

aside {
    text-align: center;
    margin-bottom: 30px;
    width: 100%;
}

aside img {
    width: 93%;
}

/*bouton load more*/

.loadmore {
    font-family: 'Open Sans', sans-serif;
    background: #222;
    color: white;
    text-align: center;
    width: 35%;
    height: 50px;
    border-radius: 4px;
    margin: auto;
    line-height: 50px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.loadmore a{
    text-decoration: none;
    color: white;
}

/*formulaire newsletter*/

.newsletter {
    text-align: center;
    background: rgb(249, 249, 249);
    height: 360px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin: auto; 
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    text-align: center;
}

input {
    background: white;
    border: 1px solid rgb(174, 174, 174);
    border-radius: 4px;
    height: 40px;
    width: 250px;
    font-family: 'Open Sans', sans-serif;
    padding-left: 10px;
}

button { 
    height: 45px;
    width: 120px;
    color: white;
    background: #222;
    border: 1px solid #222;
    border-radius: 5px;
    font-size: 16px;
}

/*réseaux sociaux*/

.reseaux {
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*footer*/

footer {
    background: #222;
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 13.5px;
    height: 395px;
    display: flex;
    align-items: center;
}

footer ul {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

footer img{
    padding-top: 20px;
    padding-bottom: 20px;
}
footer ul li {
    list-style: none;
    margin-right: 20px;
    justify-content: center;
}

.mentionslegales{
    width: 100%;
}

.apropos{
    margin-top: 30px;
    margin-bottom: 30px;
}

@media screen and (max-width: 1024px){

    header{
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    background: white;
    border-bottom: 1px solid #ddd9d9;  
    z-index: 5;
}

nav ul{
    display: none;
}


#menu{
    display: fixed;
}


#logo{
        min-width: 200px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;

}

.articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 95%;
}

figure {
    width: 47%; 
    height: 20%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
}

figure img{
    width: 100%;
}
 
figcaption {
    width: 100%;
    height: 70%;
    margin-bottom: 45px;
}

.date {
     font-family: 'Open Sans', sans-serif;
     font-size: 14px;
     font-weight: 500;
     padding-top: 0;
     color: grey;
     margin-top: -10px;
}
}



